@import "colors";

.navbar {
  align-items: center;
  background-color: $white;
  border-top: 8px solid $blue;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 150px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.wolox-image {
  background: url("../assets/LogoWolox.png") no-repeat;
  height: 70px;
  max-height: 100%;
  width: 215px;
}

.logout {
  color: $black;
  font-size: 18px;
  line-height: 21px;
  right: 30px;
}

.book-list-container {
  align-items: center;
  background-color: $light-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.book-detail-link {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
  height: 300px;
  margin: 20px 70px;
  width: 198px;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.4s;
  }
}

.book-list-img {
  width: 100%;
  margin-bottom: 5px;
}

.container-book-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.book-title {
  color: $black;
  font-size: 16px;
  font-weight: 700;
  height: 15px;
  line-height: 18px;
  margin-bottom: 5px;
}

.book-author {
  color: $grey;
  font-size: 14px;
  height: 14px;
  line-height: 18px;
}

