@import "colors";

@mixin font-config($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

* {
  font-family: "Roboto", sans-serif;
}

.general-container {
  background-color: $light-grey;
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(4, 25%);
  height: 768px;
  width: 1366px;
}

.container-button {
  display: grid;
  grid-column: 2/8;
  grid-row: 1/4;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(6, 16.666%);
  position: relative;
}

.go-to-index { 
  grid-row: 2/3;
  margin-top: 40px;
  margin-left: 24px;
  position: relative;

  &::before {
    background: url(../assets/back-arrow-20.png) no-repeat;
    content: "";
    height: 22px;
    width: 30px;
    position: absolute;
    left: -22px;
    top: -2px;
  }
}

.container-book {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-column: 1/9;
  grid-row: 3/7;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 20px;
  position: relative;

  &::after {
    background: url(../assets/badge.png) no-repeat;
    background-size: 100%;
    content: '';
    height: 100px;
    left: 255px;
    position: absolute;
    top: 10px;
    transform: rotate(15deg);
    width: 55px;
  }
}

.book-cover {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.book-information {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 1/4;
}

.title {
  border-bottom: 4px solid $green;
  color: $black;
  @include font-config(32px, 700);
  margin-bottom: 30px;
  padding-bottom: 8px;
  width: 500px;
  max-width: 100%;
}

.title-description {
  color: $grey;
  @include font-config(24px, 700);
  line-height: 28px;
}

.detail {
  color: $black;
  @include font-config(20px, 700);
  line-height: 24px;
  margin-bottom: 40px;
}

.description {
  color: $grey;
  font-size: 20px;
  line-height: 24px;
}

